.cart {
    margin-top: 50px;
    background-color: rgba(255, 153, 0, 0.3);
    padding: 30px;
    position: sticky;
    top: 0;
}
.clear-cart-btn {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 10px;
    color: rgba(216, 83, 21, 0.76);
    border: none;
}
.clear-cart-btn:hover {
    background-color: rgba(143, 207, 23, 0.24);
}